@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  /* Add your custom theme variables here */
  --color-primary-text: #2c3e50;
  --color-secondary-text: #5d6d7e;
  --color-disabled-text: #b0b8c1;
  --color-primary-600: #195e9a;
  --color-primary-700: #134a7a;
  --color-surface: #f6f8fc;
  --color-base: #1e73be;
  --color-light-gray: #f5f7fa;
  --color-primary: #1e73be;
  --color-background-dark: #2c3e50;
  --color-text-secondary: #5d6d7e;
  --color-gray: #9199a3;
  --color-social: #b0b8c1;
  --color-background-light: #f5f7fa;
}

html,
body {
  @apply bg-white;
}
